<div class="  bg-dark p-5">

    <form action="/registros/add" class=" col-sm  text-center"  method="post">
        
        <fieldset  class="text-white  "  >
            <legend class="bg-info">Datos personales</legend>
            <div >
                <label  class="form-group" for="fullname">
                    fullname
                    <input type="text" name="fullname" placeholder="ingrese nombre completo" required  class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label  for="fecha">
                    Fecha de Nacimiento
                    <input type="date" name="fecha" required class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label  for="identificacion" >
                    identificacion
                    <input type="text" name="identificacion" placeholder="ingrese su identificacion" required class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="EPS" >
                    EPS
                    <input type="text" name="EPS" placeholder="digite su EPS" required  class="form-control">
                </label>
            </div>
            
        </fieldset>
        <fieldset  class="text-white">
            <legend>Genero</legend>
            <div >
                <label for="genero">
                    
                    <input type="radio" name="genero" value="Hombre">
                    Hombre

                </label>
                <label for="genero">
                    
                    <input type="radio" name="genero" value="Mujer">
                    Mujer

                </label>
                <label for="genero">
                    
                    <input type="radio" name="genero" value="Personalizado">
                    Personalizado

                </label>

            </div>
        </fieldset>

        <fieldset class="text-white">
            <legend class="bg-info">Datos de Usuario</legend>
            <div  class="form-group">
                <label for="username">
                    username
                    <input type="text" name="username" placeholder="cree username" required class="form-control">
                </label>
            </div>

            <div  class="form-group">
                <label for="password">
                    password
                    <input type="password" name="password" placeholder="cree password" required class="form-control">
                </label>
            </div>
        </fieldset>
        <button type="submit" class=" btn  btn-info" name="Registrarse" value="1">Registrarse</button>
        <a href="/registros" class="btn btn-info">Cancelar</a>
    </form>
    
</div>