<div class="container">
    <div class="card col-md-6 offset-md-3">

        <form action="/pacientes/add" method="post">
            <div class="card-header text-white text-center bg-info">
                <h3>Gestionar cita</h3>
            </div>
            <div class="card-body  bg-dark">

                <div class="form-group  bg-info  text-center  text-white">
                    <label for="tipocita">
                        Consulta externa
                        <input type="radio" name="tipocita" class="form-control" value="Consulta externa">
                    </label>
                    <label for="tipocita">
                        Crecimiento y desarrollo
                        <input type="radio" name="tipocita" class="form-control" value="Crecimiento y desarrollo">
                    </label>
                    <label for="tipocita">
                        Planificacion
                        <input type="radio" name="tipocita" class="form-control" value="Planificacion">
                    </label>
                    <!--<input type="submit" name="insert" value="INSERT DATA"> -->

                    <div class="form-group">
                        <label for="fechacita" class=" text-white">Fecha:</label>
                        <input type="date" name="fechacita" placeholder="Fecha de la cita..." class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="horacita" class=" text-white">Hora:</label>
                        <input type="time" name="horacita" placeholder="hora de la cita..." class="form-control" required>
                    </div>
                    <!--<div class="form-group">
                    <label for="Doctor" class=" text-white">Doctor:</label>
                    <input type="text" name="Doctor" placeholder="Ingre..." class="form-control">
                </div> -->

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class=" btn  btn-info btn-block" name="Guardar" value="1">Guardar</button>
                        </div>
                        <div class="col-md-6">
                            <a href="/pacientes" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>

                </div>
        </form>
    </div>
</div>