<img src="/img/Coronavirus-1.jpg" width="1014" height="226" alt="img home">
<main class="main_inicio  bg-dark  p-5" >
    <h2 class="text-white text-justify text-center"> Informacion General</h2>


    <section class="section ">
        <div class="container">
            <div class="row">

                <div class="col-sm   offset-2">
                    <article class="text-info ">

                        <h3> Jornadas de vacunacion</h3>
                            <ul class="navbar-nav mr-auto">



                                <li>Jornada de Vacunacion Camu Canta Claro </li>
                                <li> Jornada de vacunacion Camu La Gloria </li>
                                <li> Jornada de vacunacion Camu Mocarí </li>
                                <li> Jornada de vacunacion Camu Simon Bolivar </li>


                            </ul>
                            </div>

                    </article>
                    <div class="col-sm  pl-3">
                        <article class="text-info ">
                            <h3>Control Covid-19</h3>
                            <ul class="navbar-nav mr-auto">
                                <li>Realizacion de pruebas camu El Amparo</li>
                                <li>Realizacion de pruebas camu Sucre</li>
                                <li>Realizacion de pruebas camu La Glria</li>
                                <li>Realizacion de pruebas camu Canta Claro</li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
    </section>

</main>