<div class="bg-info  text-white  text-center">
    <ul  class="navbar-nav mr-auto">
        <li>
            <h3>Bienvenido  a Salud Cord</h3>
            <p>
             <strong>Salud Cord</strong> es una pagina especialmente para la gestion de
              citas medicas, Aquí podras gestionar tus citas medicas de forma facil, rapida y segura 
            </p>

        </li>

        <li>
            <p>
                Lo primero que tienes que hacer es registrarte  y si ya estas
                 registrado solo debes iniciar sesion para gestionar tus citas medicas 
                <br>
                P.D.  Esta es la version beta, probablemente presente algunos inconvenientes

            </p>
        </li>
    </ul>
    <img src="img/Imagen_Enunciado.jpeg" width="500" height="900" class="center-block"/>