<img src="img/image3.jpg" width="1014" height="226" class="center-block"/>
<div class="bg-dark">
    <form action="#" method="post" class=" col-sm   text-center">
        <fieldset class="text-white">
            <legend>Iniciar Sesion</legend>
            <div class="form-group">
                <label for="username">
                    username
                    <input type="text" name="username" placeholder="digite username" required class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label for="password">
                    password
                    <input type="password" name="password" placeholder="digite password" required class="form-control">
                </label>
            </div>

        </fieldset>

        <button type="submit" class="bg-info text-white btn btn-info " name="Iniciar" value="1">Iniciar</button>

        <a href="/" class="bg-info text-white btn btn-info ">Volver</a>

    </form>
</div>