    <footer class="footer_inicio  bg-dark text-white text-justify text-center p-4">
        <ul class="navbar-nav mr-auto   ">
            <li>Contacto: correoSalud_Cord@gmail.com</li>
            <li>Telefono: 3044672390 | 3185982237</li>
        </ul>
    </footer>